@import 'variables';

.contact {
    background-color: $soft-blue;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 1023px) {
        line-height: 40px;
    }
    &__subtitle {
        color: white;
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 5px;
        text-transform: uppercase;
        @media screen and (min-width: 1023px) {
            font-size: 18px;
        }
    }
    &__title {
        margin-top: 0;
        color: white;
        font-size: 24px;
        text-align: center;
        font-weight: 400;
        @media screen and (min-width: 1023px) {
            font-size: 32px;
            padding: 0 400px;
        }
    }
    &__email {
        position: relative;
        @media screen and (min-width: 1023px) {
            width: 30%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
        &--input {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
            & input {
                width: 100%;
                padding: 15px;
                border-radius: 10px;
                border: none;
            }
            & .error {
                border: 3px solid $soft-red;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
            & img {
                position: absolute;
                right: 0;
                bottom: 80%;
                display: none;
                @media screen and (min-width: 1023px) {
                    right: 45%;
                    bottom: 75%;
                }
                &.error {
                    display: block;
                    border: none;
                }
            }
        }
        &--error {
            display: none;
            width: 100%;
            background-color: $soft-red;
            color: white;
            margin: 0;
            border-radius: 5px;
            padding: 5px 15px;
            font-size: 12px;
            margin-bottom: 20px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border: 3px solid $soft-red;
            &.error {
                display: block;
            }
        }
        &--button {
            padding: 13px;
            border-radius: 10px;
            border: 2px solid $soft-red;
            width: 90%;
            background-color: $soft-red;
            color: white;
            transition: all ease .2s;
            cursor: pointer;
            @media screen and (min-width: 1023px) {
                width: 30%;
            }
            &:hover {
                background-color: white;
                color: $soft-red;
            }
        }
    }
}