@import 'variables';

.extension {
    &__title {
        text-align: center;
        color: $very-dark-blue;
    }
    &__description {
        padding: 0 20px;
        font-size: 16px;
        text-align: center;
        color: $grayish-blue;
        line-height: 25px;
        @media screen and (min-width: 1023px) {
            padding: 0 400px;
        }
    }
    &__cards {
        @media screen and (min-width: 1023px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(9, 50px);
        }
    }
    &__card {
        margin: 0 auto;
        max-width: 60%;
        -webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.35);
        -moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.35);
        box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.35);
        margin-bottom: 50px;
        padding: 20px;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (min-width: 1023px) {
            margin: 0 auto;
            max-height: 50vh;
            width: 100%;
            &:nth-child(1) {
                grid-row-start: 1;
                grid-row-end: 8;
                grid-column-start: 1;
                grid-column-end: 2;
            }
            &:nth-child(2) {
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 9;
            }
            &:nth-child(3) {
                grid-column-start: 3;
                grid-column-end: 4;
                grid-row-start: 3;
                grid-row-end: 10;
            }
        }
        &--title {
            margin-top: 30px;
            margin-bottom: 0;
            color: $very-dark-blue;
        }
        &--subtitle {
            margin-top: 10px;
            color: $grayish-blue;
            font-weight: 400;
        }
        &--division {
            width: 110%;
            text-align: center;
            border-bottom: 10px dotted #F3F3F3;
            margin-bottom: 20px;
        }
        &--button {
            padding: 15px 20px;
            border-radius: 5px;
            font-weight: 500;
            border: none;
            background-color: $soft-blue;
            color: white;
            border: 1px solid $soft-blue;
            transition: all ease-in .5s;
            cursor: pointer;
            &:hover {
                background-color: white;
                color: $soft-blue;
            }
        }
    }
}