@import 'variables';

.faq {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    &__title {
        text-align: center;
        color: $very-dark-blue;
        font-size: 28px;
    }
    &__description {
        text-align: center;
        color: $grayish-blue;
        padding: 0 20px;
        line-height: 25px;
        @media screen and (min-width: 1023px) {
            padding: 0 425px;
        }
    }
    &__list {
        list-style: none;
        @media screen and (min-width: 1023px) {
            width: 40%;
        }
        &--item {
            cursor: pointer;
            padding: 0 20px;
            & div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid #E0E0E0;
                padding: 10px 0;
                & h3 {
                    font-weight: 400;
                    font-size: 14px;
                    color: $very-dark-blue;
                    transition: all ease-in-out .2s;
                }
                &:hover h3 {
                    color: $soft-red;
                }
            }
            & p {
                font-size: 14px;
                color: $grayish-blue;
                line-height: 25px;
                display: none;
            }
            &.active {
                animation-name: visible;
                animation-duration: 1s;
                animation-timing-function: linear;
                animation-fill-mode: forwards;
                transition: all ease .2s;
                & div {
                    & svg {
                        transform: rotate(-180deg);
                        & path {
                            stroke: red;
                        }
                    }
                }
                & p {
                    display: block;
                }
            }
        }
    }
    &__button {
        padding: 15px 20px;
        border-radius: 5px;
        font-weight: 500;
        border: none;
        background-color: $soft-blue;
        color: white;
        max-width: 50%;
    }
}

@keyframes visible {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}