@import 'variables';

.header {
    padding: 10px;
    margin-bottom: 50px;
    @media screen and (min-width: 1023px) {
        margin-bottom: 0;
    }
    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &--menu {
            @media screen and (min-width: 1023px) {
                display: none;
            }
        }
        &--list {
            display: none;
            @media screen and (min-width: 1023px) {
                display: inline-flex;
                align-items: center;
                list-style: none;
                & li {
                    padding: 0 20px;
                    & a {
                        font-size: 16px;
                        text-decoration: none;
                        text-transform: uppercase;
                        color: $very-dark-blue;
                        transition: all ease-in .5s;
                    }
                    &:hover a {
                        color: $soft-red;
                    }
                    &:last-child {
                        background-color: $soft-red;
                        padding: 10px 20px;
                        margin: 0 10px;
                        border-radius: 10px;
                        border: 1px solid $soft-red;
                        & a {
                            color: white;
                            transition: all ease-in .5s;
                        }
                        &:hover {
                            background-color: white;
                            & a {
                                color: $soft-red;
                            }
                        }
                    }
                }
            }
        }
    }
}
.menu {
    position: fixed;
    z-index: 2;
    background-color: hsla(229, 31%, 21%, 0.9);
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
    &__nav {
        &--list {
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0;
            width: 100%;
            & li {
                padding: 20px 0;
                width: 80%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                border-bottom: 1px solid $grayish-blue;
                & a {
                    text-decoration: none;
                    color: white;
                    text-transform: uppercase;
                    letter-spacing: 5px;
                }
            }
            & li:nth-child(1) {
                width: 100%;
                border-bottom: none;
            }
            & li:nth-child(2) {
                border-top: 1px solid $grayish-blue;
            }
            & li:nth-child(4) {
                margin-bottom: 20px;
            }
            & li:nth-child(5),
            & li:last-child {
                border-bottom: none;
            }
            & li:nth-child(5) {
                border: 3px solid white;
                border-radius: 5px;
                margin-bottom: 100px;
                & a {
                    font-weight: 500;
                }
            }
        }
    }
}