@import 'variables';

.hero {
    margin-bottom: 100px;
    @media screen and (min-width: 1023px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    &__picture {
        display: flex;
        position: relative;
        margin-bottom: 75px;
        @media screen and (min-width: 1023px) {
            margin-bottom: 0;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 4;
        }
        &--image {
            max-width: 100%;
            z-index: 1;
        }
        &--background {
            padding: 0;
            margin: 0;
            position: absolute;
            bottom: -10%;
            right: 0;
            height: 250px;
            width: 100vw;
            background-color: $soft-blue;
            -webkit-clip-path: ellipse(80% 60% at 100% 50%);
            clip-path: ellipse(80% 60% at 100% 50%);
            @media screen and (min-width: 1023px) {
                width: 50vw;
            }
        }
    }
    &__title {
        font-size: 28px;
        text-align: center;
        color: $very-dark-blue;
        @media screen and (min-width: 1023px) {
            grid-row-start: 1;
            grid-row-end: 2;
            font-size: 72px;
            text-align: left;
        }
    }
    &__description {
        text-align: center;
        color: $grayish-blue;
        padding: 0 25px;
        line-height: 25px;
        @media screen and (min-width: 1023px) {
            grid-row-start: 2;
            grid-row-end: 3;
        }
    }
    &__buttons {
        display: flex;
        justify-content: space-around;
        @media screen and (min-width: 1023px) {
            grid-row-start: 3;
            grid-row-end: 4;
        }
        & > button {
            padding: 15px 20px;
            border-radius: 5px;
            font-weight: 500;
            border: none;
        }
        &--chrome {
            background-color: $soft-blue;
            color: white;
        }
        &--firefox {
            background-color: #F3F3F3;
            color: black;
        }
    }
}